@font-face {
  font-family: "iconfont"; /* Project id 4746577 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1731629368963') format('woff2'),
       url('iconfont.woff?t=1731629368963') format('woff'),
       url('iconfont.ttf?t=1731629368963') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-sys:before {
  content: "\e610";
}

.icon-docker:before {
  content: "\e601";
}

